@using System.Web.Optimization
@inherits System.Web.Mvc.WebViewPage

<!DOCTYPE html>
<html ng-app="WolfBooking">
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WolfBooking</title>

    <link rel="stylesheet" href="Content/bootstrap.min.css" />
    <link rel="stylesheet" href="Content/ui-grid.min.css" />
    <link rel="stylesheet" href="Content/font-awesome.min.css" />
    <link rel="stylesheet" href="Content/breads.css" />
    <link rel="stylesheet" href="Content/login.css" />
    <link rel="stylesheet" href="Content/users.css" />
    <link rel="stylesheet" href="Content/accounting.css" />
    <link rel="stylesheet" href="Content/common.css" />
</head>
<body ng-controller="HomeCtrl">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">WolfBooking</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="isMoreThanUser()"><a href="Breads">{{'Index.Breads' | translate}}</a></li>
                <li ng-show="isAdministrator()"><a href="Users">{{'Index.Users' | translate}}</a></li>
                <li ng-show="isMoreThanUser()"><a href="Rooms">{{'Index.Rooms' | translate}}</a></li>
                <li ng-show="isLoggedIn()"><a href="Breadbookings">{{'Index.Breadbooking' | translate}}</a></li>
                <li ng-show="isMoreThanUser()"><a href="Accounting">{{'Index.Accounting' | translate}}</a></li>
                <li ng-show="isNotLoggedIn()"><a href="Login">{{'Index.Login' | translate}}</a></li>
                <li ng-show="isLoggedIn()" ng-click="logout()"><a href="Login">{{'Index.Logout' | translate}}</a></li>
                <li ng-click="changeLanguage()"><img src="Content/en_de_flags_small.png" width="50" height="25"></li>
            </ul>
        </div>
    </nav>

    <div id="mainDiv">
        <div ng-view></div>
    </div>

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/uiGrid")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/services")
    @Scripts.Render("~/bundles/wolfBooking")
    @Scripts.Render("~/bundles/controllers")
</body>
</html>